.recipe {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #fff;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures contents are spaced */
    height: 100%; /* Makes all cards equal height */
  }
  
  .recipe:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  }
  
  .image {
    border-radius: 0;
    width: 100%;
    height: 200px; /* Fixed height for images */
    object-fit: cover; /* Ensure the image scales properly */
  }
  
  .card-body {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
  }
  
  .list-group-item {
    font-size: 0.9rem;
    color: #555;
  }
  
  .card-footer {
    margin-top: auto; /* Push footer to the bottom */
  }
  
  .ingredients {
    text-align: left;
    font-size: 0.95rem;
    color: #555;
    line-height: 1.5;
    margin-top: 0.5rem;
  }
  
  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .rows-per-page {
    display: flex;
    align-items: center;
  }
  
  .pagination-info {
    font-size: 14px;
  }
  
  .pagination-buttons button {
    margin: 0 5px;
  }
  
  .prev-btn, .next-btn {
    font-size: 18px;
    padding: 8px 16px;
  }
  
  select {
    padding: 5px;
    margin-left: 5px;
  }